$black: rgb(3, 3, 3);
$gray: rgb(122, 116, 110);
$purple: rgb(117, 92, 222);
$orange: rgb(246, 165, 96);
$pink: rgb(243, 158, 158);
$red: rgb(235, 117, 101);
$aqua: rgb(97, 196, 183);
$dark-purple: rgb(85, 32, 73);
$white: rgb(255, 247, 240);
$body-background: #fff7f0;